<form action="/signup" method="post" id="signupForm">
    <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formLabel">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formBox">
                        <label for="emailInput">Email</label>
                        <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                        <label for="passwordInput">Contraseña</label>
                        <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="regBtn">Registro</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="/login" method="post" id="loginForm">
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formBox">
                        <label for="emailInput">Email</label>
                        <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                        <label for="passwordInput">Contraseña</label>
                        <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>