{% extends "base.html" %} {% block navbar %}
<nav class="navbar navbar-toggleable navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" width="120" height="61" class="d-inline-block align-top" id="nav-logo" alt="">
        </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Empieza tu config <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicaciones
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Configs de oficina</a>
                    <a class="dropdown-item" href="#">Configs multimedia</a>
                    <a class="dropdown-item" href="#">Configs gamer</a>
                    <a class="dropdown-item" href="#">Configs diseño</a>
                    <a class="dropdown-item" href="#">Configs casual</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Procesadores</a>
                    <a class="dropdown-item" href="#">Placas base</a>
                    <a class="dropdown-item" href="#">Tarjetas gráficas</a>
                    <a class="dropdown-item" href="#">Memorias RAM</a>
                    <a class="dropdown-item" href="#">Almacenamiento</a>
                    <a class="dropdown-item" href="#">Fuentes de alimentación</a>
                </div>
            </li>
        </ul>
        {% if user %}

        <a href="/logout"><button type="button" class="btn" id="disconect" data-toggle="modal" data-target="#modalRegister">
            Desconectar
        </button></a> {% else %}

        <button type="button" class="btn" id="login" data-toggle="modal" data-target="#modalLogin">
            Login
        </button>
        <button type="button" class="btn" id="register" data-toggle="modal" data-target="#modalRegister">
            Registro
        </button> {% endif %}
    </div>
</nav>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12" id="content">
            <h2 id="content-title">Configura tu pc de forma sencilla y guiada</h2>
            <hr>
            <div class="container-fluid" id="page">
                <div class="row">
                    <div class="col-md-12 justify-content-center" id="text-area">
                        <p>Bienvenido a nuestro asistente, te recomendamos que leas las instrucciones que te damos atentamente,
                            antes de darle a seguir, o seleccionar un componente.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-inverse tablesorter" id="table-area" hidden>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10" id="btn-area">
                        <button class="btn" id="btn-start">¡Comenzar!</button>
                    </div>
                </div>

                {% if user %}
                <div id="save-config" hidden>
                    <div class="row">
                        <div class="col-3" id="selector-area">
                            <form action="">
                                <select class="form-control" id="typeOfConfig">
                                    <option>Configs de oficina</option>
                                    <option>Configs multimedia</option>
                                    <option>Configs gamer</option>
                                    <option>Configs diseño</option>
                                    <option>Configs casual</option>
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-10" id="save-area">
                            <button class="btn btn-primary" id="btn-save">¡Guardar!</button>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row" id="advice" hidden>
                    <div class="col-10" id="advice-area">
                        <i>Para guardar tu configuración debes estar logueado.</i>
                    </div>
                </div>
                {% endif %}

            </div>
            <div id="icons-row">
                <img src="/images/cpu.png">
                <img src="/images/mobo.png">
                <img src="/images/ram.png">
                <img src="/images/gpu.png">
                <img src="/images/hdd.png">
            </div>
        </div>

    </div>
    {% endblock %} 
    
    {% block jsApp %}
    <script type="text/javascript" src="/js/hw.js"></script>
    {% endblock %}