{% extends "base.html" %} {% block navbar %}
<nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
            <img src="/images/logo.jpg" width="120" height="61" class="d-inline-block align-top" id="nav-logo" alt="">
        </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Empieza tu config <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Publicaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/posts/office">Configs de oficina</a>
                    <a class="dropdown-item" href="/posts/multimedia">Configs multimedia</a>
                    <a class="dropdown-item" href="/posts/gamer">Configs gamer</a>
                    <a class="dropdown-item" href="/posts/design">Configs diseño</a>
                    <a class="dropdown-item" href="/posts/casual">Configs casual</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/component/cpu">Procesadores</a>
                    <a class="dropdown-item" href="/component/motherboard">Placas base</a>
                    <a class="dropdown-item" href="/component/gpu">Tarjetas gráficas</a>
                    <a class="dropdown-item" href="/component/ram">Memorias RAM</a>
                    <a class="dropdown-item" href="/component/hdd">Almacenamiento</a>
                    <a class="dropdown-item" href="/component/psu">Fuentes de alimentación</a>
                    <a class="dropdown-item" href="/component/case">Chásis</a>
                </div>
            </li>
        </ul>
        {% if user %}

        <a href="/logout"><button type="button" class="btn" id="disconect" data-toggle="modal" data-target="#modalRegister">
            Desconectar
        </button></a> 
        
        {% else %}

        <button type="button" class="btn" id="login" data-toggle="modal" data-target="#modalLogin">
            Login
        </button>
        <button type="button" class="btn" id="register" data-toggle="modal" data-target="#modalRegister">
            Registro
        </button> {% endif %}
    </div>
</nav>
{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12" id="content">
            <h2 id="content-title">Configura tu pc de forma sencilla y guiada</h2>
            <hr>
            <div class="container-fluid" id="page">
                <div class="row">
                    <div class="col-12 justify-content-center" id="text-area">
                        <p>Bienvenido a nuestro asistente, te recomendamos que leas las instrucciones que te damos atentamente,
                            antes de darle a seguir, o seleccionar un componente.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="advice-area" hidden>
                        {% if user %}
                        
                        <p>Puedes guardar tu config</p>
                        
                        {% else %}
                        
                        <i id="advice">Para guardar tu configuración debes estar logueado.</i>
                        
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-inverse tablesorter" id="table-area" hidden>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" id="btn-area">
                        <button class="btn" id="btn-start">¡Comenzar!</button>
                    </div>
                </div>

                <div id="form-select" hidden>
                    <div class="row">
                        <div class="col-12" id="selector-area">
                            {% if user %}
                            <form>
                                <select class="form-control" id="type-of-config">
                                    <option>Configs de oficina</option>
                                    <option>Configs multimedia</option>
                                    <option>Configs gamer</option>
                                    <option>Configs diseño</option>
                                    <option>Configs casual</option>
                                </select>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if user %}
                <div class="row" id="save-config" hidden>
                    <div class="col-12" id="save-area">
                        <button type="submit" class="btn btn-primary" id="btn-save">¡Publicar!</button>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12" id="icons-row">
                        <img src="/images/cpu.png">
                        <img src="/images/mobo.png">
                        <img src="/images/ram.png">
                        <img src="/images/gpu.png">
                        <img src="/images/hdd.png">
                    </div>
                </div>
            </div>

        </div>
        {% endblock %} {% block jsApp %}
        <script type="text/javascript" src="/js/hw.js"></script>
        {% endblock %}