{% extends "base.html" %}
{% block navbar %}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.jpg" width="120" height="61" class="d-inline-block align-top" id="nav-logo" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Empieza tu config</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/posts">Configs publicadas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Componentes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Procesadores</a>
                    <a class="dropdown-item" href="#">Placas base</a>
                    <a class="dropdown-item" href="#">Tarjetas gráficas</a>
                    <a class="dropdown-item" href="#">Memorias RAM</a>
                    <a class="dropdown-item" href="#">Almacenamiento</a>
                    <a class="dropdown-item" href="#">Fuentes de alimentación</a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
            Login
        </button>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" id="content">
            <h2>Configs publicadas</h2>
            <hr>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}