#nav-logo{
	border-radius: 10px;
	border: 2px solid;
	border-color: #747474;
}

#nav-logo:hover{
	border-color: #FFF;
	opacity: 0.5;
}

.nav-link{
	margin-top:10px;
}

#content{
	background-image: url('/images/bgcontent.png');
	margin-top: 30px;
	margin-bottom: 60px;
	border-radius: 10px;
	width: 100%;
}

#content>h2{
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	font-family: 'Indie Flower';
}

#table-area>thead{
	cursor: pointer;
	background: rgba(0, 0, 0, .2);
}

#table-area>thead>tr>th:hover{
	cursor: pointer;
	color:#838181;
	transition: inherit;
	transition-duration: 0.5s;
}

#table-area>tbody>tr>td:hover{
	cursor: pointer;
	color:#838181;
	transition: inherit;
	transition-duration: 0.5s;
}

#table-area>*{	
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

#btn-start:hover{
	border: 1px solid;
	border-color: #83D4FE;
	background-color: #FFF;
	opacity: 1 !Important;
}

.btn{
	margin-top:10px;
	margin-left: 60px;
	margin-bottom: 5px;
	border: 1px solid;
}

.btn:hover{
	border-color: #83D4FE;
	background-color: #FFF;
}

#cpu-freq:after{
	content: "GHz";
}

#watts:after, #psu-wattage:after{
	content: "W";
}

#eur:after{
	content: "€";
}

#gpu-mem-clock:after, #mem-boost:after, #mem-memory:after{
	content: "MHz";
}

#mem-memory:after{
	content: "GB";
}

#text-area>p{
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
	margin-bottom: 50px;
}

#icons-row{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}

#icons-row>img{
	margin-right: 10px;
	margin-left: 10px;
}

.font{
	background-image: url('/images/background.png');
}

.navbar{
	height: 80px;
}

#result-list{
	margin-top: 20px;
}

#result-list>*{
	margin-top:10px;
	list-style: none;
	font-weight: bold;
	text-align: center;
}

#final-price{
	text-align: center;
	margin-top: 30px;
	text-decoration: underline;
	margin-left: 40px;
}

footer{
	text-align:center;
	font-size: 16px;
	background-color: #000;
	color:#FFF;
    width: 100%;
    position:relative;
    z-index: 823452374574;
}
