@media screen and (max-width:1200px) and (min-width: 600px) {
	.nav-link { font-size: 26px; }
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#page{margin:0% !important; }
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#content-title { font-size: 90px !important; }
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#text-area>p { font-size: 55px !important; margin-top:100px;}
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#btn-area { margin:0% !important;}
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#btn-start,.Siguiente{ font-size: 50px !important; margin-left:36.5% !important; margin-top: 100px; margin-bottom: 100px;  border-radius: 20px;}
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	.AMD{ font-size: 50px !important; margin-left:33.5% !important; margin-top: 100px; margin-bottom: 100px;  border-radius: 20px;}
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	.Intel,.NVIDIA{ font-size: 50px !important; margin-left:3% !important; margin-top: 100px; margin-bottom: 100px;  border-radius: 20px;}
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#table-area>*{ font-size: 23px; }
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#table-area{ width: 100%; }
}

@media screen and (max-width:1200px) and (min-width: 600px) {
	#result-list>li { font-size: 25px; font-weight: bold; }
}



#page{
	margin-left:15%;
	margin-right:15%;
}

#nav-logo{
	border-radius: 10px;
	border: 2px solid;
	border-color: #747474;
}

#nav-logo:hover{
	border-color: #FFF;
	opacity: 0.5;
}

.nav-link{
	margin-top:10px;
}

#content{
	background-image: url('/images/bgcontent.png');
	margin-top: 30px;
	margin-bottom: 60px;
	border-radius: 10px;
	width: 100%;
}

#content>h2{
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	font-family: 'Indie Flower';
}

#table-area{
	margin-top: 40px;
}

#table-area>thead{
	cursor: pointer;
	background: rgba(0, 0, 0, .2);
}

#table-area>thead>tr>th:hover{
	cursor: pointer;
	color:#838181;
	transition: inherit;
	transition-duration: 0.5s;
}

#table-area>tbody>tr>td:hover{
	cursor: pointer;
	color:#838181;
	transition: inherit;
	transition-duration: 0.5s;
}

#table-area>*{	
	font-family: 'Roboto Mono', monospace;
}

.btn{
	margin-top:10px;
	margin-left: 7.5%;
	margin-bottom: 5px;
	border: 1px solid;
}

.btn:hover{
	border-color: #83D4FE;
	background-color: #FFF;
}


#btn-start:hover{
	border: 1px solid;
	border-color: #83D4FE;
	background-color: #FFF;
	opacity: 1 !Important;
}

#btn-area{
	position: relative;
	margin-left: 38.5%;
	margin-right: 60% !important;
}

.AMD{
	margin-left: 2%;
}

#cpu-freq:after{
	content: "GHz";
}

#watts:after, #psu-wattage:after{
	content: "W";
}

#eur:after{
	content: "€";
}

#gpu-mem-clock:after, #mem-boost:after, #mem-memory:after{
	content: "MHz";
}

#mem-memory:after{
	content: "GB";
}

#text-area{
	text-align: center;
}

#text-area>p{
	font-family: 'Roboto Mono', monospace;
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 17px;
}

#icons-row{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 50px;
}

#icons-row>img{
	margin-right: 10px;
	margin-left: 10px;
}

.font{
	background-image: url('/images/background.png');
}

.navbar{
	height: 80px;
}

#result-list{
	margin-top: 20px;
}

#result-list>*{
	margin-top:10px;
	list-style: none;
	font-weight: bold;
	text-align: center;
}

#warning{
	text-align: center;
}

#final-price{
	text-align: center;
	margin-top: 30px;
	text-decoration: underline;
	font-weight: bold;
	margin-left: 40px;
}

footer{
	text-align:center;
	font-size: 16px;
	background-color: #000;
	color:#FFF;
    width: 100%;
    position:relative;
    z-index: 823452374574;
}
